# DuyKhanh Nguyen
300316520

# Shringar 
3003356399

# Spam Classification Dectection - CSIS 4260 Project

# Referrences

# A. Prepare Data

In [1]:
# Import all the require important library
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv('Datasets/emails.csv')
df

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# Drop the uneeded columns
df = df.drop("Email No.", axis = 1)

In [4]:
# Check null values
df.isnull().sum().sum()

0

### Note: The dataset is already clean, we can focus more on the models and analysis

# B. Classification models

In [5]:
# Split Data
target = df["Prediction"]
features = df.drop("Prediction", axis = 1)

X_train, X_test, Y_train, Y_test = train_test_split(features, target, test_size = 0.25, random_state = 42)

### 1. Decisison Trees

In [7]:
# Bulding Decision Trees and evalute models
tree = DecisionTreeClassifier(max_depth = 5, random_state = 42)
tree.fit(X_train, Y_train)

print("Accuracy on training set: {:.3f}".format(tree.score(X_train, Y_train)))
print("Accuracy on testing set: {:.3f}".format(tree.score(X_test, Y_test)))

Accuracy on training set: 0.866
Accuracy on testing set: 0.852

In [ ]:
# Showing the tree graph